.cartColumn {
    float: left;
    width: 50%;
    display: block;
    text-align: center;
    padding-top: 8px;
}

.cartHeader {
    font-size: 25px;
}

.total {
    font-size: 25px;
    color:green;
    text-align: center;
}

.cardTotal {
    font-size: 20px;
    text-align: center;
}

.result {
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
}

.purchaseButton {
    width: 100px;
    align-self: center;
    position:absolute;
    left:50%;
    transform: translate(-50px);
}

.results {
    align-items: center;
}


.couponButton {
    width: 135px;
    align-self: center;
    position:relative;
    top: 50px;
    left:705px;
    transform: translate(-50px);
}