.home {
    background-color: #F5F5DC;
    width: 100%;
    position:initial;
}

.titletext {
    text-align:start;
    color: black;
    font-size: 30px;
    text-decoration: none;
    width: 95%;
    height: 100%;
    display:inline-flex;
    align-items:flex-start;
    padding: 50px 16px;
    border-radius: 4px;
    justify-content:center;
}

.aboutustext {
    color: black;
    font-size: 20px;
    text-decoration: none;
    align-items: flex-start;
    padding: 0 16px;
    border-radius: 4px;
    justify-content: start;
}


.wrapper{
  width: 1170px;
  margin: 0 auto;
}
.logo{
  width: 20%;
  float: left;
  padding: 30px 0 0;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}
nav{
  width: 75%;
  float: right;
  text-align: right;
  padding: 30px 0 0;
}
nav a{
  text-decoration: none;
  color: #fff;
  padding: 15px 20px;
}
.navigation{
  height: 60px;
}
.banner-area{
  background-color: #005762;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  position:initial;
  
/* Set up positioning */
  top: 0;
  left: 0;
}
.text-area{
  text-align: center;
  width: 90%;
  margin: 0 auto;
  
}
.text-area h2{
  font-size: 75px;
  color: #e1ad01;
  margin: 10% 0 0;
}
.text-area h3{
  color: rgb(20, 4, 90);
  text-transform: uppercase;
  margin: 5px 0 15px;
  font-size: 35px;
}
.text-area a{
  text-decoration: none;
  background: #262626;
  color: #fff;
  padding: 15px 60px;
  font-size: 18px;
  display: inline-block;
  margin-top: 5%;
  border-radius: 50px;
}
.text-area p{
  font-size: 25px;
  color: rgb(0, 0, 0);
  width: 70%;
  margin: 0 auto;
  line-height:1.9;
  
}
@keyframes animate {
  0%{
    background: #29306a;
  }
  25%{
    background: #e60084;
  }
  50%{
    background: #ad7c66;
  }
  75%{
    background: #005762;
  }
  100%{
    background: #4c9ab6;
  }
}


/* ignore the code below */

.link-area
{
  position:fixed;
  bottom:20px;
  left:20px;  
  padding:15px;
  border-radius:40px;
  background:tomato;
}
.link-area a
{
  text-decoration:none;
  color:#fff;
}
.bg {
    width: 100%;
    height: 100%;
    background: url('../Components/Navbar/pawnshop.jpeg') no-repeat center center fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 1024px;
	
  /* Set up proportionate scaling */
    width: 100%;
    height: auto;
	
  /* Set up positioning */
    position: fixed;
    top:100px;
    left: 0;
 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-animation: myfirst 5s ; /* Chrome, Safari, Opera */
    animation: myfirst 5s ;
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes myfirst {
    from {opacity: 0.2;}
    to {opacity: 1;}
  }

  /* Standard syntax */
  @keyframes myfirst {
    from {opacity: 0.2;}
    to {opacity: 1;}
  }
  .x {
    margin: 20px;
    padding: 20px;
    background: orange;
    line-height: 18px;
    height: 18px;
    font-size: 18px;
  }
