.home {
    background-color: #F5F5DC;
}

.titletext {
    text-align: left;
    color: black;
    font-size: 30px;
    text-decoration: none;
    width: 95%;
    height: 100%;
    display:inline-flex;
    align-items:flex-start;
    padding: 50px 16px;
    border-radius: 4px;
    justify-content:center;
}

.aboutustext {
    color: black;
    font-size: 20px;
    text-decoration: none;
    align-items: flex-start;
    padding: 0 16px;
    border-radius: 4px;
    justify-content: start;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}