.body {

    width: 100%;
    height: 100%;
    position: relative;

}

.dFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    justify-content:center;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    padding: 30px 50px 20px 50px;
    box-sizing: border-box;
    background-color: #F5F5DC;
}

.main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70%;
    height: 100%;
    margin:50px auto;
    padding:50px 0 0;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.productColumn {
    float: left;
    width: 50%;
    display: block;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

h3{
    position:absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    color: black;
}

.card {
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    transform: scale(.95);
    transition:all .3s ease-in-out;
    margin-bottom: 50px;
    left: 10px;
}

.card_img{
    margin-top: -5vw;
    
}
img{
    width:200px;
}

.card_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    margin: 25px 0;
}

h2{
    font-size: 18px;
}

p{
    font-size: 14px;
    text-align: center;
    color: rgba(black,0.3);
    margin: 8px 0;
}

.price {
    font-size: 25px;
    color: blue;
    
}
span{
    font-size: 15px;
    display: inline-block;
    vertical-align: top;
}
.card:hover{
    background-color:darkslategrey;
    transform: scale(1);
    cursor: pointer;
}

.btn{
    width: 130px;
    height: 35px;
    font-size: 14px;
    border-radius: 35px;
    background-color: gray;
    color: rgba(white,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition:background-color .3 ease;
    left: 20px;


}
