@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.home,
.reports,
.products {
  display:flex;
  height: 90vh;
  justify-content: center;
  font-size: 3rem;
}